* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #6a75ca;
    --secondary-color: #fff;
    --dark-color: #131320;
    --bg-color: #eff2f8;
    --text-color-code: #7d868e;
    --hover-color: #5f68ad;
    --shadow-color: rgba(79, 88, 178, 0.25);
    --chevron-item-color: rgb(255, 255, 255, 1);
    --chevron-item-hover-color: rgb(255, 255, 255, 0.7);
    --chevron-text-color: rgb(45, 47, 77);
    --chevron-gradient-from: #6a75ca;
    --chevron-gradient-to: rgba(166, 172, 250, 0.082);
}

/* project styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.wrapper {
    min-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    display: flex;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 var(--shadow-color);
    z-index: 1;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    flex: 0 0 240px;
    text-transform: uppercase;
    padding: 24px 48px;
    transition: transform 0.3s ease-in-out;
}
.logo-link {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s ease-in-out;
}
.logo-link:hover {
    color: var(--hover-color);
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

/* navigation */

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 24px 48px;
}
.nav-item {
    list-style-type: none;
}
.nav-link {
    line-height: 2;
    text-decoration: none;
    margin-right: 45px;
    color: var(--dark-color);
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--hover-color);
    transition: width 0.3s;
}
.nav-link:hover::after {
    width: 100%;
    transition: width 0.3s;
}
.nav-link:hover {
    color: var(--hover-color);
    transition: all 0.3s ease-out;
}
.active-page {
    color: var(--main-color);
}
.container {
    display: flex;
    flex-grow: 1;
}

/* sidebar */

.sidebar {
    background: var(--main-color);
    flex: 0 0 240px;
    text-transform: uppercase;
    padding: 32px 32px 48px 48px;
    max-height: 100%;
    overflow-y: auto;
}
.sidebar-item {
    margin-bottom: 16px;
    list-style-type: none;
}
.sidebar-link {
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    color: var(--secondary-color);
}
.sidebar-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width 0.3s;
}
.sidebar-link:hover::after {
    width: 100%;
    transition: width 0.3s;
}
.sidebar-item:hover {
    list-style-type: disc;
    color: var(--secondary-color);
}

/* main section */

.main {
    flex-grow: 1;
    background-color: var(--bg-color);
}
.main-page {
    width: 953px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.main-title {
    padding: 100px 0;
    font-size: 54px;
    color: var(--dark-color);
    line-height: 1.17;
}
.main-section {
    width: 796px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* boxes */

.box {
    height: 240px;
    background: var(--main-color);
    color: var(--secondary-color);
    padding: 32px;
    border-radius: 8px;
    line-height: 1.31;
    opacity: 1;
    position: relative;
}
.shadow {
    box-shadow: 0 4px 10px 0 var(--shadow-color);
    z-index: 1;
}
.small-box {
    flex: 0 0 240px;
    margin-bottom: 48px;
}
.big-box {
    margin: 0 auto 48px;
    flex: 0 0 100%;
}
.white-box {
    background-color: var(--secondary-color);
    color: var(--text-color-code);
}
.section {
    padding: 24px 48px;
}
.section .big-box {
    height: 100%;
    display: flex;
    align-items: center;
}
.code code {
    font-family: "Courier New", Courier, monospace;
}
.code-box {
    margin: 0 16px 67px;
    padding: 48px;
}
.info {
    margin-left: 32px;
}
.corner-white {
    background: linear-gradient( -135deg, transparent 35px, var(--secondary-color) 0) top right;
}
.corner-info {
    background: linear-gradient(-135deg, transparent 35px, var(--main-color) 0) top right;
}
.title h2 {
    border-bottom: 1px solid var(--dark-color);
    font-size: 36px;
    padding: 24px 48px;
}

/* outline */

.outline:after {
    content: "";
    position: absolute;
    top: -16px;
    left: -16px;
    width: 100%;
    height: 100%;
    padding: 16px;
    border: 1px solid #4f58b2;
    border-radius: 8px;
}
.outline-html:before {
    content: "HTML";
    position: absolute;
}
.outline-css:before {
    content: "CSS";
    position: absolute;
}
.outline-html:before, .outline-css:before {
    z-index: 5;
    width: 49px;
    height: 20px;
    top: -24px;
    left: 6px;
    font-size: 12px;
    color: #ffc806;
    background-color: var(--bg-color);
    text-align: center;
}

/* examples */

.headings {
    border-bottom: 1px solid var(--dark-color);
}
.headings h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.33;
}
.example {
    padding: 24px 0 48px 0;
}
.example h1, .h1 {
    font-size: 54px;
    line-height: 63px;
    margin-bottom: 42px;
}
.example h2, .h2 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 21px;
}
.example h3, .h3 {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 21px;
}
.example h4, .h4 {
    line-height: 21px;
    margin-bottom: 21px;
}
.example h5, .h5 {
    line-height: 21px;
    margin-bottom: 21px;
}
.example h6, .h6 {
    line-height: 11px;
}

/* chevron-menu */

.chevron-menu {
    margin-bottom: 75px;
}
.chevron-menu-nav {
    background: linear-gradient( 90deg, var(--chevron-gradient-from) 0%, var(--chevron-gradient-to) 127.92%);
    padding: 2px 35px 2px 60px;
}
.chevron-menu-nav-list {
    text-align: right;
    overflow: hidden;
}
.chevron-menu-nav-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 0 0;
    position: relative;
}
.chevron-menu-nav-item a {
    color: var(--chevron-text-color);
    background: var(--chevron-item-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 37px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 25px 29px 25px;
    display: inline-block;
    position: relative;
}
.chevron-menu-nav-item a:after {
    content: "";
    display: block;
    position: absolute;
    right: -25px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 48px 25px;
    border-color: transparent transparent transparent var(--chevron-item-color);
}
.chevron-menu-nav-item a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 48px 25px;
    border-color: var(--chevron-item-color) var(--chevron-item-color) var(--chevron-item-color) transparent;
}
.chevron-menu-nav-item:hover a {
    background: var(--chevron-item-hover-color);
}
.chevron-menu-nav-item:hover a:after {
    border-color: transparent transparent transparent var(--chevron-item-hover-color);
}
.chevron-menu-nav-item:hover a:before {
    border-color: var(--chevron-item-hover-color) var(--chevron-item-hover-color) var(--chevron-item-hover-color) transparent;
}